@CHARSET "utf-8";
a:hover{
		curosr:hand;
		cursor:pointer;
		color:#4374D9;
		text-decoration:underline;
	}
	a{
	text-decoration:none;
	color:grey;
	}
	
		body{
		margin:0 auto;
	font-size:12px;
	padding:10px;
	}
	select, input, img, input.type-image{/* border: 0 none; */ vertical-align:middle;}
	#search_box{
		border:1px solid grey;
		padding:20px;
		box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
		-webkit-box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
		-moz-box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
	}
	#list_table{
		border-top:3px solid #050099;
		width:100%;
		border-collapse:collapse;
	}
	.list_table_th{
	 	background-color:#f2f2f2;
	 	border:1px solid grey;
	 	border-left:none;
	 	border-right:none;
	 	border-bottom:1px botted blue;
	 	text-align:center;
	 	height:20px;
	}
	.list_table_td{
		text-align:center;
		color:#4C4C4C;
		height:30px;
		border-bottom:1px solid #EAEAEA;
		text-align:left;
	}
	#click:hover{
	background-color:#D9E5FF;
	cursor:hand;
	cursor:pointer;
	}
	#title{
	border-bottom:3px solid grey; background-color:rgb(14,90,146); color:#ffffff; padding:10px;
	}
	
.coution{
	text-align:right;
	vertical-align:bottom; padding-bottom:3px; font-size:12px;
}
#title{
	border-bottom:3px solid grey; background-color:rgb(14,90,146); color:#ffffff; padding:10px;
}
select, input, img, input.type-image{/* border: 0 none; */ vertical-align:middle;}