	body{margin:0 auto; background:#f5f6f7; height:100%;}
	select, input, img, input.type-image{/* border: 0 none; */ vertical-align:middle;}
	#member_body_container{
	position:relative;
	width:100%;
	height:100%;
	}
	#member_body_contents{
	position:relative;
	width:1064px;
	margin:0 auto;
	}
	table{
	width:1064px;
	border-collapse:collapse;
	font-size:12px;
	}
	#title tr{
	border-bottom:1px solid grey;
	}
	table#body{
	border:1px solid grey;
	height:120px;
	}